@{
    ViewData["Title"] = "Votre panier";
    @model List<STIVE_WEB.Models.Article>;
    @using Microsoft.AspNetCore.Http;
}

<partial name="/Views/Shared/_Header.cshtml" />
@if (string.IsNullOrEmpty(@Context.Session.GetString("Cart")))
{
    <p style="color:red;">Votre panier est vide :(</p>
}
else
{
    <h1>Contenu de votre panier</h1>
    <br />
    @foreach (var item in Model)
    {
        <h1>@item.Name</h1>
    }
}