@{
    ViewData["Title"] = "Home Page";
}

<partial name="/Views/Shared/_Header.cshtml" />

<div style="height: calc(100vh - 180px);" id="landing">
    <div class="left-side">
        <h1>NEGOSUD, négociant en vins</h1>
        <p>
            Situé en Gascogne dans les Landes, NEGOSUD est un négociant en vin <br />
            soucieux d’apporter à ses clients les meilleurs vins aux meilleurs prix.
        </p>
        <a asp-controller="article" asp-action="All" class="btn" style="background-color: #7b0405; color: white;">
            Notre sélection de vins
        </a>
    </div>
    <div class="right-side">
        <img src="~/img/img-landing-page.png" alt="Illustration de vins"/>
    </div>
</div>
